Modules/src/module_1/companies/*
Modules/src/module_*/output*
Modules/src/module_*/input*

__pycache__/
Modules/src/demo/
src.lnk
*.pth
*.cbm
Modules/src/module_2/function_model/__pycache__/*
result_test/