src/modules/module_1/companies/*
src/modules/module_*/output*
src/modules/module_*/input*

__pycache__/
*.lnk
*.pth
*.cbm
*.pkl
*.xlsx
*_cache
.vscode
result_test/
model/
grade_model_weights/
function_model_weights/
.venv/
