Modules/src/module_1/companies/*
Modules/src/module_*/output*
Modules/src/module_*/input*

__pycache__/
Modules/src/demo/
src.lnk
*.pth
*.cbm
*.pkl
*.xlsx
result_test/
model/
grade_model_weights/
function_model_weights/
config.yml